//text color
$color-gray: #777777

//primaty text of the site
$color-brown-light: #BA8554
$color-brown-dark: #A14F03

//white and black color
$color-black: #000
$color-white: #fff

//hover color
$color-hover: #b0a0a0

//color of button shadows
$box-shadow: (8px 4px 4px rgba(0, 0, 0, 0.3))